* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

main {
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: row-reverse;
}

#celular {
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#apps {
    min-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

button {
    border: 2px solid black;
    margin: 8px 0px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

button:hover {
    scale: 1.2;
    border: 2px solid rgb(255, 255, 255);
    transition: .4s;
}

#youtube {
    background-image: url(imagens/logo-youtube.jpg);
    background-size: cover;
}

#github {
    background-image: url(imagens/logo-github.jpg);
    background-size: cover;
}

#insta {
    background-image: url(imagens/logo-instagram.jpg);
    background-size: cover;
}

#home {
    background-image: url(imagens/logo-home.jpg);
    background-size: cover;
}